name: Sync fork with upstream

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync with upstream
        run: gh api repos/${{ github.repository }}/merge-upstream -f branch=main
        env:
          GH_TOKEN: ${{ secrets.SYNC_TOKEN }}
